.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(213px, max-content));
  gap: 16px;
  width: calc(100% - 96px);
  margin: 0 auto;
  margin-top: 92px;
}

@media (max-width: 768px) {
  .photo-grid  {
    width: calc(100% - 48px);
  }
}

@media (max-width: 420px) {
  .photo-grid  {
    margin-top: 64px;
    width: calc(100% - 32px);
  }
}