.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 14px;
    padding-top: 8px;
    margin-left: 60px;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin: 24px 0;
  }
}